@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "NicoMoji";
    src: url("./assests/fonts/Nico-Moji/nicomoji/NicoMoji-Regular.ttf");
  }
}

@layer base {
  @font-face {
    font-family: "Matter";
    src: url("./assests/fonts/Matter/Matter-Regular.ttf");
  }
}

@layer base {
  @font-face {
    font-family: "Poppins";
    src: url("./assests/fonts/Poppins/Poppins-Regular.ttf");
  }
}

@layer base {
  @font-face {
    font-family: "GalleryModern";
    src: url("./assests/fonts/Gallery/otherFontFiles/gallerymodern-webfont.ttf");
  }
}

@layer base {
  @font-face {
    font-family: "UltraSolar";
    src: url("./assests/fonts/UltraSolar/UltraSolarNormal.ttf");
  }
}
